body,
a {
  font-family: 'Roboto', sans-serif;
}

p, h2, h3, h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

section {
  padding-bottom: 94px;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 1200px;
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  height: 31px;
  font-size: 26px;
}

.logo__part2 {
  color: #000000;
}

.logo__footer {
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 93px;
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__current {
  color: #2196F3;
  position: relative;
}

.nav__current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 0;
}

.nav__top {
  color: #212121;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__top:focus, .nav__top:hover {
  color: #2196F3;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #ECECEC;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__icon {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 16px;
  max-height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.contacts__item:last-child {
  margin-left: 50px;
}

.contacts__item, .contacts__link, .contacts__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  max-width: 16px;
}

.contacts__link {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.contacts__icon:focus, .contacts__icon:hover {
  color: #2196F3;
  fill: #2196F3;
}

.contacts:hover .contacts__icon {
  fill: #2196F3;
}

.contacts:focus .contacts__icon {
  fill: #2196F3;
}

.contacts__link:focus, .contacts__link:hover {
  color: #2196F3;
}

.contacts__link:focus .contacts__icon {
  fill: #2196F3;
}

.hero {
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 1600px;
  padding-bottom: 0;
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-align: center;
  margin-left: 52px;
}

.hero .container {
  padding: 200px;
  position: relative;
}

.hero__button {
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196F3;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  margin-left: 300px;
  border: none;
}

.title-h3 {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__closebutton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__closeicon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
}

.modal__closebutton:focus .modal__closeicon,
.modal__closebutton:hover .modal__closeicon {
  fill: #2196F3;
}

.modal__title {
  font-weight: 700;
  color: #212121;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
}

.modal__sendbutton {
  display: block;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  position: relative;
  display: block;
  margin-top: 10px;
}

.input__comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: start;
  resize: none;
  margin-top: 4px;
}

.input__comment::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__comment:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__comment::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__comment::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  font-weight: 400;
}

.input__area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  /* border: 2px solid red; */
}

.input__area:focus {
  border: 2px solid #2196F3;
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.input__area:focus + .input__icon,
.input__area:hover + .input__icon {
  fill: #2196F3;
}

.input__area:focus, .input__area:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.input__comment:focus, .input__comment:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.checkbox__link {
  color: #2196F3;
  text-decoration: underline;
}

.checkbox__icon {
  position: absolute;
  top: 2px;
  left: -5px;
  background-color: #FFFFFF;
}

.checkbox__icon2 {
  position: absolute;
  top: 2px;
  left: -5px;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transition: visibility;
  transition: visibility;
}

.checkbox__input:checked ~ .checkbox__icon2 {
  visibility: visible;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__icon {
  display: inline-block;
  width: 270px;
  height: 120px;
  background: #F5F4FA;
  border-radius: 4px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.features__description {
  width: 270px;
}

.features__items:not(:first-child) {
  margin-left: 30px;
}

.features__text {
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71em;
  margin: 0;
}

.features-section {
  padding-top: 94px;
}

.team {
  background: #F5F4FA;
  padding-top: 94px;
}

.team__card:not(:first-child) {
  margin-left: 30px;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__member {
  padding-bottom: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: block;
  width: 270px;
  heught: 428px;
}

.team__prof {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 16px;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  width: 44px;
  height: 44px;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link, .social__icon {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  fill: #AFB1B8;
  padding: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social_-link:focus .social__icon {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #FFFFFF;
}

.social__icon :hover,
.social__icon :focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #FFFFFF;
}

.works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.works__item:not(:first-child) {
  margin-left: 30px;
}

.works__title-h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
}

.title-h2 {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 50px;
}

.clients {
  padding-top: 94px;
}

.clients__box {
  dislay: block;
  width: 170px;
  height: 90px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__icon {
  display: inline-block;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 20px;
}

.clients__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.clients__box:not(:first-child) {
  margin-left: 30px;
}

.clients__link, .clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  fill: #AFB1B8;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__icon:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

.clients__link:focus .clients__icon {
  fill: #2196F3;
  border-color: #2196F3;
}

.footer {
  background-color: #2F303A;
  height: 250px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__social-links {
  display: block;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 12px;
  margin-bottom: 20px;
}

.footer__linkslist {
  padding: 0;
}

.footer__link {
  display: block;
  margn-left: auto;
  margin-right: auto;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}

.footer__linkicon {
  fill: #FFFFFF;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__linkitem:not(:first-child) {
  margin-left: 10px;
}

.footer__logo {
  margin-bottom: 20px;
}

.footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.address__street {
  display: block;
  width: 231px;
  color: #FFFFFF;
}

.address__contacts {
  color: 255, 255, 255, 0.6;
  display: block;
  margin-top: 9px;
}

.address-cont {
  margin-right: 70px;
}

.subscribe {
  margin-left: 93px;
  margin-top: 12px;
}

.subscribe__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 358px;
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: 255, 255, 255, 0.6;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 12px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subscribe__icon {
  fill: #FFFFFF;
  margin-left: 10px;
  margin-top: 3px;
}

.subscribe__input::-webkit-input-placeholder {
  color: 255, 255, 255, 0.6;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__input:-ms-input-placeholder {
  color: 255, 255, 255, 0.6;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__input::-ms-input-placeholder {
  color: 255, 255, 255, 0.6;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__input::placeholder {
  color: 255, 255, 255, 0.6;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.mail-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}

.portfolio {
  padding-top: 58px;
}

.portfolio__buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__buttons:hover, .portfolio__buttons:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.portfolio__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio__info {
  padding: 20px 24px;
}

.portfolio__box {
  border: 1px solid #EEEEEE;
  width: 370px;
  border-top: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__box:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.portfolio__btnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio__btn-item:not(:first-child) {
  margin-left: 8px;
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio__item:nth-child(3n + 1) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__item:nth-child(3n + 2) {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__box:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.invisible {
  color: rgba(255, 255, 255, 0);
}
/*# sourceMappingURL=main - копия.css.map */