*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

a {
  text-decoration: none;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

body,
a {
  font-family: 'Roboto', sans-serif;
}

p, h2, h3, h1 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

@media screen and (min-width: 768px) {
  section:not(:first-child) {
    padding-bottom: 60px;
  }
}

@media (min-width: 1200px) {
  section:not(:first-child) {
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.title-h3 {
  color: #212121;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 16px;
}

.title-h2 {
  color: #212121;
  font-weight: 700;
  letter-spacing: 0.03em;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title-h2 {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.logo {
  color: #2196F3;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  letter-spacing: 0.03em;
  height: 31px;
  font-size: 26px;
}

.logo__part2 {
  color: #000000;
}

.logo__footer {
  color: #FFFFFF;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav__list {
  display: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 1200px) {
  .nav__list {
    margin-left: 93px;
  }
}

.nav__item:not(:first-child) {
  margin-left: 50px;
}

.nav__current {
  color: #2196F3;
  position: relative;
}

.nav__current::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196F3;
  margin: 0 auto;
  margin-top: 26px;
  margin-bottom: 0;
}

@media screen and (min-width: 1200px) {
  .nav__current::after {
    margin-top: 28px;
  }
}

.nav__top {
  color: #212121;
  -webkit-transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__top:focus, .nav__top:hover {
  color: #2196F3;
}

.nav__menu {
  margin-right: 10px;
  margin-top: 10px;
  width: 40px;
  height: 40px;
  fill: #212121;
}

@media screen and (min-width: 768px) {
  .nav__menu {
    display: none;
  }
}

.nav__menu:hover, .nav__menu:focus {
  fill: #2196F3;
}

.header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
  position: relative;
}

@media (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.menu-toggle {
  padding: 0;
  border: none;
  background: none;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover, .menu-toggle:focus {
  outline: none;
}

.contacts {
  display: none;
  list-style: none;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .contacts {
    display: block;
    padding: 0;
    margin: 0;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
  }
}

.contacts:hover .contacts__icon {
  fill: #2196F3;
}

.contacts:focus .contacts__icon {
  fill: #2196F3;
}

.contacts__icon {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .contacts__icon {
    display: block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 16px;
    max-height: 16px;
    fill: #757575;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__icon {
    margin-right: 10px;
  }
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .contacts__item:last-child {
    margin-left: 50px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0;
    margin: 0;
    color: #757575;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    font-size: 14px;
    line-height: 1.14;
    margin: 0;
  }
}

.contacts__link:focus, .contacts__link:hover {
  color: #2196F3;
}

.contacts__link:focus .contacts__icon {
  fill: #2196F3;
}

.hero {
  background-color: #C4C4C4;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 118px;
  padding-top: 118px;
}

@media (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero .container {
  position: relative;
}

.hero__title {
  color: #FFFFFF;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-align: center;
}

@media (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  font-size: 16px;
  line-height: 1.87;
  background-color: #2196F3;
  padding: 10px 32px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-top: 30px;
  border: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.backdrop-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  overflow-y: scroll;
}

.backdrop-menu.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop-menu.is-hidden.is-hidden .menu__modal {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  padding: 40px;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
    height: 581px;
  }
}

.modal__closebutton {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.modal__closeicon {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 17px;
  height: 17px;
}

.modal__closebutton:focus .modal__closeicon,
.modal__closebutton:hover .modal__closeicon {
  fill: #2196F3;
}

.modal__title {
  font-weight: 700;
  color: #212121;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15;
  margin-bottom: 12px;
  text-align: center;
}

.modal__sendbutton {
  display: block;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  padding: 10px 55px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.87;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.input {
  position: relative;
  display: block;
  margin-top: 10px;
}

.input__comment {
  height: 120px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  font-size: 14px;
  letter-spacing: 0.01em;
  text-align: start;
  resize: none;
  margin-top: 4px;
}

.input__comment:focus, .input__comment:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.input__comment::-webkit-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__comment:-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__comment::-ms-input-placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__comment::placeholder {
  font-size: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
  text-align: start;
}

.input__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  font-weight: 400;
}

.input__area {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.input__area:focus {
  border: 2px solid #2196F3;
}

.input__area:focus, .input__area:hover {
  outline: none;
  border: 1px solid #2196F3;
}

.input__area:focus + .input__icon,
.input__area:hover + .input__icon {
  fill: #2196F3;
}

.input__icon {
  position: absolute;
  top: 50%;
  left: 12px;
}

.checkbox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 22px;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.03em;
  line-height: 1.71;
}

.checkbox__link {
  color: #2196F3;
  text-decoration: underline;
}

.checkbox__icon {
  position: absolute;
  top: 2px;
  left: -5px;
  background-color: #FFFFFF;
}

.checkbox__icon2 {
  position: absolute;
  top: 2px;
  left: -5px;
  background-color: #FFFFFF;
  visibility: hidden;
  -webkit-transition: visibility;
  transition: visibility;
}

.checkbox__input:checked ~ .checkbox__icon2 {
  visibility: visible;
}

.features {
  display: block;
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__ul {
  display: block;
}

@media (min-width: 768px) {
  .features__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: 1200px) {
  .features__ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features__icon {
  -ms-flex-preferred-size: calc((100% - 2 * 30px)/2);
      flex-basis: calc((100% - 2 * 30px)/2);
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #F5F4FA;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-top: 25px;
  padding-bottom: 25px;
  width: inherit;
  height: 120px;
}

@media (min-width: 768px) {
  .features__icon {
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  .features__icon {
    max-width: 270px;
  }
}

.features__description {
  display: block;
  width: inherit;
  height: inherit;
}

@media (min-width: 768px) {
  .features__description {
    max-width: inherit;
  }
}

.features__items {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .features__items {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .features__items {
    -ms-flex-preferred-size: calc((100% - 4 * 30px) / 4);
        flex-basis: calc((100% - 4 * 30px) / 4);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.features__items:not(first-child) {
  margin-top: 30px;
}

.features__text {
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.71em;
  margin: 0;
}

.features__titleh3 {
  color: var(--h2h3-color);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .features__titleh3 {
    text-align: unset;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: currentColor;
  width: 44px;
  height: 44px;
}

.social__item:not(:first-child) {
  margin-left: 10px;
}

.social__link {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  fill: #AFB1B8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #FFFFFF;
}

.social__icon {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: inherit;
  height: inherit;
  fill: #AFB1B8;
  padding: 10px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:hover, .social__icon:focus {
  background-color: #2196F3;
  border-radius: 50%;
  fill: #FFFFFF;
}

.works {
  position: relative;
}

@media (min-width: 768px) {
  .works {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.works__section {
  display: none;
}

@media screen and (min-width: 1200px) {
  .works__section {
    display: block;
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.works__title-h3 {
  position: absolute;
  bottom: 0;
  margin: 0;
  color: #FFFFFF;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: auto;
  padding-right: auto;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
}

.works__item:not(:first-child) {
  margin-left: 30px;
}

.team {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__list {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    padding: 0;
    list-style: none;
  }
}

@media (min-width: 1200px) {
  .team__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    margin: 0;
  }
}

.team__foto {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__foto {
    width: inherit;
  }
}

.team__name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  margin-bottom: 10px;
}

.team__card {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 768px) {
  .team__card {
    margin-top: 30px;
    margin-left: 30px;
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
  }
}

@media (min-width: 1200px) {
  .team__card {
    width: 270px;
  }
}

.team__card:first-child {
  margin-left: 0;
}

.team__member {
  padding-bottom: 30px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .team__member {
    max-width: 354px;
  }
}

.team__prof {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.clients {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -30px;
  margin-top: 0;
}

.clients__box {
  -ms-flex-preferred-size: calc((100% - 2*30px) / 2);
      flex-basis: calc((100% - 2*30px) / 2);
  height: 90px;
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients__box {
    -ms-flex-preferred-size: calc((100% - 3*30px) / 3);
        flex-basis: calc((100% - 3*30px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__box {
    -ms-flex-preferred-size: calc((100% - 6*30px) / 6);
        flex-basis: calc((100% - 6*30px) / 6);
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .clients__box:not(:first-child) {
    margin-left: 30px;
  }
}

.clients__icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #AFB1B8;
}

.clients__icon:hover {
  fill: #2196F3;
  border-color: #2196F3;
}

.clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-preferred-size: calc((100% - 2*30px) / 2);
      flex-basis: calc((100% - 2*30px) / 2);
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: inherit;
  width: inherit;
}

.clients__link:hover,
.clients__link:focus .clients__icon {
  fill: #2196F3;
  border-color: #2196F3;
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 60px;
  }
}

.footer__logo {
  margin-bottom: 20px;
}

.footer .container {
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.footer__social-links {
  margin-top: 60px;
  display: block;
}

@media screen and (min-width: 768px) {
  .footer__social-links {
    margin-top: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__social-links {
    margin-left: 70px;
  }
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 12px;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: left;
  }
}

.footer__linkslist {
  padding: 0;
}

.footer__linkicon {
  fill: #FFFFFF;
  padding: 10px;
  width: 100%;
  height: 100%;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link {
  display: block;
  margn-left: auto;
  margin-right: auto;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: #2196F3;
}

.footer__linkitem:not(:first-child) {
  margin-left: 10px;
}

.address {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .address {
    width: 232px;
  }
}

.address__street {
  text-align: center;
  color: #FFFFFF;
}

.address__contacts {
  color: rgba(255, 255, 255, 0.6);
  display: block;
  margin-top: 9px;
}

.address__cont {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address__cont {
    text-align: left;
  }
}

.subscribe {
  margin-top: 60px;
}

@media screen and (min-width: 1200px) {
  .subscribe {
    margin-left: 93px;
    margin-top: 12px;
  }
}

.subscribe__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  background: #2F303A;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .subscribe__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    width: 358px;
  }
}

.subscribe__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
}

.subscribe__icon {
  fill: #FFFFFF;
  margin-left: 10px;
  margin-top: 3px;
}

.subscribe__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  background: #2196F3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  color: #FFFFFF;
  letter-spacing: 0.06em;
  font-size: 16px;
  font-weight: 700;
}

@media screen and (min-width: 1200px) {
  .subscribe__button {
    margin-top: 0;
    margin-left: 12px;
  }
}

.subscribe__mailbtn {
  display: block;
  margin-top: 20px;
}

@media screen and (min-width: 1200px) {
  .subscribe__mailbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.portfolio {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__buttons:hover, .portfolio__buttons:focus {
  color: #FFFFFF;
  background-color: #2196F3;
}

.portfolio__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.portfolio__info {
  padding: 20px 24px;
}

.portfolio__box {
  border: 1px solid #EEEEEE;
  border-top: none;
  -webkit-transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__box:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__box:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
}

.portfolio__invisible {
  color: rgba(255, 255, 255, 0);
  height: 0px;
  margin-bottom: 0;
}

.portfolio__btnlist {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: -15px;
  margin-left: -8px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .portfolio__btnlist {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__btnlist {
    margin-bottom: 50px;
  }
}

.portfolio__btn-item {
  margin-top: 15px;
  margin-left: 8px;
}

.portfolio__list {
  margin-top: 40px;
}

@media screen and (min-width: 768px) {
  .portfolio__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 0;
    margin-left: -30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__list {
    margin-top: -30px;
  }
}

.portfolio__item {
  margin-top: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 2 * 30px) / 2);
        flex-basis: calc((100% - 2 * 30px) / 2);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio__item {
    -ms-flex-preferred-size: calc((100% - 3 * 30px) / 3);
        flex-basis: calc((100% - 3 * 30px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }
}

.portfolio__img {
  width: 100%;
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  letter-spacing: 0.03em;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background: transparent;
}

.menu-toggle:hover, .menu-toggle:focus {
  fill: #2196F3;
}

@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__button {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu__item:not(:first-child) {
  margin-top: 32px;
}

.menu__link-nav {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.menu__link-nav--accent-color {
  color: #2196F3;
}

.menu__link-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.menu__link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}

.menu__network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.menu__item-network {
  position: relative;
}

.menu__item-network:not(:last-child) {
  margin-right: 20px;
}

.menu__item-network:nth-child(-n + 2) {
  margin-bottom: 15px;
}

.menu__link-network {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.222;
  letter-spacing: 0.02em;
  color: #2196F3;
  text-decoration: none;
}

.menu__link-network--separator::after {
  content: '';
  display: block;
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  right: -10px;
  background-color: rgba(33, 33, 33, 0.2);
}
/*# sourceMappingURL=main.css.map */