.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    &__street{
        text-align: center;
        color: $white;
    }
    &__contacts{
        color: $footer-color;
        display: block;
        margin-top: 9px;
    }
    &__cont{
        text-align: center;

        @media screen and (min-width: 1200px){
        text-align: left;
        }
    }
    
}