.container {
    padding: 0 15px;
    margin: 0 auto;
    width: 450px;
        @media screen and(min-width: 480px){
            width: 738px;
        }
        @media screen and (min-width: 768px){
            width: 1200px;
        }
    }
.title-h3{
    color: $h2h3-color;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    font-size: 14px;
    line-height: 16px;
    // margin-bottom: 10px;
    }
.title-h2{
    color: $h2h3-color;
    font-weight: 700;
    letter-spacing: 0.03em;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    // margin-bottom: 50px;
    }

