.features{
    display: block;
    padding-top: 60px;
    @media screen and (min-width: 1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &__ul{
        display: block;

        @media (min-width: 768px){
            display: flex;
            flex-wrap: wrap;
            margin-left: -30px;
            margin-top: -30px;
            padding: 0;
            list-style: none;
        }

        @media (min-width: 1200px){
            display: flex;
            flex-wrap: nowrap;
        }
    }

    &__icon{
        flex-basis: calc((100% - 2 * 30px)/2);
        display: block;
        box-sizing: border-box;
        background: #F5F4FA;
        border-radius: 4px;
        margin-bottom: 30px;
        padding-top: 25px;
        padding-bottom: 25px;
        width: inherit;
        height: 120px;
    
    @media (min-width: 768px){
        max-width: 354px;
    }
    @media (min-width: 1200px){
        max-width: 270px;
    }
}

    &__description{
        display: block;
        width: inherit;
        height: inherit;

        @media (min-width: 768px){
            max-width: inherit;
        }
    
    }

    &__items{
        display: block;
        width: 100%;

         @media (min-width: 768px){
            flex-basis: calc((100% - 2 * 30px) / 2);
            margin-left: 30px;
            margin-top: 30px;
        }
        @media (min-width: 1200px){
            flex-basis: calc((100% - 4 * 30px) / 4);
            margin-left: 30px;
            margin-top: 30px;
        }

        &:not(first-child){
            margin-top: 30px;
        }

    
     
    }

    &__text{
        color: $main-color;
        font-weight: 400;
        letter-spacing: 0.03em;
        font-size: 14px;
        line-height: 1.71em;
        margin:0;
    }

    &__titleh3{
        color: var(--h2h3-color);
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 0.03em;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 10px;
        text-align: center;
        @media (min-width: 768px){
            text-align:unset;
        }
    }
}


    
