.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    
    &__street{
        display: block;
        width: 231px;
        color: $white;
    }
    &__contacts{
        color: $footer-color;
        display: block;
        margin-top: 9px;
    }
    &-cont{
        margin-right: 70px;
    }
}